@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300&display=swap');

/* Hylia Serif Font created by Omni Jacala and can be found here https://curiomatic.com/fonts/hylia-serif */
@font-face {
    font-family: 'hylia_serif_betaregular';
    src: url('../fonts/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
         url('../fonts/hyliaserifbeta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }



* {
    text-align: center;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

p {
    font-size: 1.25em;
}

header {
    background-color: #c20a23;
    display: grid;
    grid-template-columns: 200px auto;
}

header img {
    width: 200px;
    background-color: #c20a23;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: #c20a23;
}

nav a {
    background-color: #c20a23;
    color: white;
}

footer {
    background-color:#447a9c;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    background-color: #447a9c;
}

footer a {
    background-color: #447a9c;
    color: black;
    text-decoration: none;
}

.social {
    grid-column: 3/4;
    background-color: #447a9c;
}

h1, h2, h3 {
    font-family: hylia_serif_betaregular;
    margin: 30px;
}

.link-box {
    display: grid;
    margin: 10px 100px;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
}


#genres-link img{
    grid-column: 1/2;
    width: 100%;
}

#genres-link h3 {
    grid-column: 1/2;

}

.link-box div {
    justify-content: center; 
    grid-column: 2/5;
    width: 100%;
}

#terms-link img{
    grid-column: 5/6;
    width: 100%;
}

.genre-grid {
    margin: 50px;
}

.genre-grid p, .genre-grid h3, .genre-grid li {
    text-align: left;
    margin: 15px;
}

.genre-grid img {
    float: right;
    width: 500px;
    margin: 20px;
}

#subtitle {
    font-size: 1.25em;
    font-family: Roboto;
}

.genre-class, .term-class {
    background-color: #150578;
    color: white;
    cursor: pointer;
    padding: 25px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.25em;
    font-family: hylia_serif_betaregular;
}
  
.active, .genre-class:hover, .term-class:hover {
    background-color: #447a9c;
    color: black;
}
  
.panel {
    padding: 18px;
    background-color: #447a9c;
    display: none;
    overflow: hidden;
    font-size: 1.25em;
}

.term-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 50px;
}

.term-grid h1, .term-grid h3 {
    text-align: center;
    grid-column: 2/3;
}

.term-class {
    width: 100%;
    height: 100px;
    grid-column: 1/3;
    border: 3px solid Black;
    margin: 5px;
}

.term-grid .panel {
    width: 100%;
    grid-column: 1/3;
    background-color: white;
}



.term-grid p, .panel h3 {
    text-align: left;
    grid-column: 1/3;
} 


#image-box {
    background-color: #c20a23;
    grid-column: 3/4;
    grid-row: 3/7;
    padding: 20px;
    margin: 20px;
    border: 3px solid Black;
}

#image-box img {
    width: 100%;  
}