* {
    background-color: gray;
    margin: auto 0;
    text-align: center;
}

header img {
    max-width: 100%;
}

main img {
    margin: 3%;
    border-style: solid;
    border-color: rgb(47, 47, 47);
    border-width: thick;
    border-radius: 50%;
    width: 25%;
}